[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bor"]
	path = bor
	url = https://github.com/davidnsousa/bor
[submodule "qsort"]
	path = qsort
	url = https://github.com/cran/qsort
